.file-form{
    width: 0.1px !important;
    height: 0.1px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    z-index: -1 !important;
    
    }

    .file-label{
        font-size: 14px !important;
        font-weight: 600 !important;
        color: #fff !important;
        background-color: #f5333f !important;
        display: inline-block !important;
        transition: all .5s !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        width: fit-content !important;
        text-align: center !important;
        margin: 0 50px;
    }
.especializacion{
    width: 100%;
}
.border-botones,
.border-botones:hover
{
    border: 1px solid #f5333f !important;
}
select{
    background: transparent !important;
}
.div-imagen{

    display: flex;
    justify-content: center;
    position: relative;
   
}

.div-imagen img {
    width: 50%;
    z-index: 100;
    
    
    
}

.resaltado-titulo,
.resaltado
{
    background: gray;
    padding: 5px;
    color: white;
    font-weight: bold;
    
}
.grupo1-conferencia,
.wrap-comun-chil,
.grupo1-cabecera,
.resaltado{
    border-top: 5px solid grey;
}

.eliminar{
    background: red;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 35% !important;
    margin: 50px 0px;
    color: white;
    font-weight: bold;
    
}

.padding-top{
    margin-top: 50px;
}

.formulario{
    background: white;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.boton-añadir-conferencista,
.boton-añadir-moderador{
    border: 1px solid red;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center p{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 50px;
}